@{
    ViewBag.Title = "Home Page";
    
}

@model ConcertMap.Models.Events

@section Scripts {

    
    <script>
        $(function () {

            var concertData = {
                "AF": 90.63,
                "AL": 11.58,
                "DZ": 158.97    
                
            };



            $('#world-map').vectorMap({
                map: 'world_mill',
                series: {
                    regions: [{
                        values: concertData,
                        scale: ['#33F259', '#176326'],
                        normalizeFunction: 'polynomial',
                        attribute: 'fill'
                    }]
                },
                zoomMax: '20',
                zoomOnScrollSpeed: 2,
                backgroundColor: '#A1ABB5',
                markerStyle: {
                    initial: {
                        fill: '#B88A99',
                        stroke: '#805563',
                        r: 3
                    }
                },
                markers: [
                     {latLng: [41.90, 12.45], name: 'Vatican City'},
                     {latLng: [43.73, 7.41], name: 'Monaco'},
                     {latLng: [-0.52, 166.93], name: 'Nauru'},
                     {latLng: [-8.51, 179.21], name: 'Tuvalu'},
                     {latLng: [43.93, 12.46], name: 'San Marino'},
                     {latLng: [47.14, 9.52], name: 'Liechtenstein'},
                     {latLng: [7.11, 171.06], name: 'Marshall Islands'},
                     {latLng: [17.3, -62.73], name: 'Saint Kitts and Nevis'},
                     {latLng: [3.2, 73.22], name: 'Maldives'},
                     {latLng: [35.88, 14.5], name: 'Malta'},
                     {latLng: [12.05, -61.75], name: 'Grenada'},
                     {latLng: [13.16, -61.23], name: 'Saint Vincent and the Grenadines'},
                     {latLng: [13.16, -59.55], name: 'Barbados'},
                     {latLng: [17.11, -61.85], name: 'Antigua and Barbuda'},
                     {latLng: [-4.61, 55.45], name: 'Seychelles'},
                     {latLng: [7.35, 134.46], name: 'Palau'},
                     {latLng: [42.5, 1.51], name: 'Andorra'},
                     {latLng: [14.01, -60.98], name: 'Saint Lucia'},
                     {latLng: [6.91, 158.18], name: 'Federated States of Micronesia'},
                     {latLng: [1.3, 103.8], name: 'Singapore'},
                     {latLng: [1.46, 173.03], name: 'Kiribati'},
                     {latLng: [-21.13, -175.2], name: 'Tonga'},
                     {latLng: [15.3, -61.38], name: 'Dominica'},
                     {latLng: [-20.2, 57.5], name: 'Mauritius'},
                     {latLng: [26.02, 50.55], name: 'Bahrain'},
                     {latLng: [0.33, 6.73], name: 'São Tomé and Príncipe' },
                     {latLng: [36.75, 3.05], name: 'Algír' },
                     {latLng: [47.50, 19.01], name: 'Budapest' },
                     {latLng: [50.11, 8.65], name: 'Frankfurt' }
                ]
            });
        });


        $(document).ready(function () {
           
         

        });

        function hide() {
            $("#show_button").show();
            $("#search_panel").hide();
            
        }


        function show() {
            $("#search_panel").show();
            $("#show_button").hide();
        }

        

    </script>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Site.css">

}

<div id="world-map" style="height: 100%"></div>

<div id="search_panel">
    <div id="title">Search</div>
  
    <div id="search_form">
        @using (Html.BeginForm("Search", "HomeController", FormMethod.Post))
        {
            <p>
                Artist: @Html.TextBoxFor(model => model.ArtistName) <button class="button">+</button><br />
                From: @Html.EditorFor(model => model.fromDate, new { @type = "date" }) <br />
                To: @Html.EditorFor(model => model.toDate, new { @type = "date" }) <br />
                <input class="button" type="submit" value="Search" id="search_button"/>
            </p>
        } 
    </div>
    

    @*<form>
        Artist<br> <input type="text" name="artist" /><button class="button">+</button><br>
        Between<br>
        From<br><input type="date" name="from_date" /><br>
        To<br><input type="date" name="to_date" /><br>
        <input type="checkbox" name="past_future" value="future" checked/>Future<br>
        <input type="checkbox" name="past_future" value="past" checked/>Past<br>
        <input class="button" type="submit" value="Search" id="search_button">
    </form>*@

    <button onclick="hide()" id="hide_button" class="button">Hide</button>
</div>
<button onclick="show()" id="show_button" class="button">Show</button>